body {
  color: #9aa688;
  background-color: black;
  text-align: center;
  font-family: Nimbus Sans;
  max-width: 800px;
}

h1 {
display: block;
margin-top: 0.67em;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  color: #9fb828;
  font-size: 3rem;
  /* font-family: myFirstFont; */

font-family: 'Exo', sans-serif;
}

@font-face {
  font-family: myFirstFont;
  src: url(./Font/Hacked-KerX.ttf);
  }


h2 {
  color: #205c5c;
}

em {
  color: #4494a4;
}

li {
  color: #82918c;
}

a {
  color: #cc9199;
}

img {
  max-width: 40%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color: transparent;
  /* color:black; */

  /* overflow: hidden; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #97aaa8;
  color: white;
}
div {
  text-align: center;
  text-decoration: none;
}
.posts{

	  text-decoration: none;
	   list-style-type: none;

}

html{

	margin: 0;
}
.dark-mode  {
  background-color: white;
  color: black;


  }



  
