/* body { */
/*   color: #aaa688; */
  /* background: black; */
  /* text-align: center; */
  /* font-family: Nimbus Sans; */
  /* max-width: 1000px; */
/* margin-left: auto; */
  /*   margin-right: auto; */



/* } */
body {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    color:  #aaa688; ;
    background: #000000;
    margin: 0;

    }
p {
  /* max-width: 1500px; */
  text-align: left;
margin-left: auto;
    margin-right: auto;
/* font-family: 'Josefin Sans', sans-serif; */
/* font-family: 'Open Sans', sans-serif; */
font-family: 'Exo', sans-serif;

}
h1 {
  color: #2cc000;
  font-size: 2rem;
  text-align: center;
}
h2 {
  color: darkgoldenrod;
}

em {
  color: #4494a4;
}

/* li { */
/*   color: #317873; */
/* } */

a {
  color: #cc9199;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.gif
{
	 height:20;
  width: 40%;
display: block;


}

footer {
	clear: both;
	text-align: center;
	padding-top: 2em;
	font-size: larger;
}

html {
	/* padding-bottom: 500px; */
	margin: 0;
}

dt {
	color: orange;
	margin-top: 2px;
}

dd {
	margin-bottom: 2px;
}

